# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
# csv from WeatherPy output is saved as a dataframe.
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df.head()

,City,Latitude,Longitude,Maximum Temperature (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,Mataura,-46.19,168.86,45.860,91,97,4.50,NZ,1595320242
1,Bluff,-46.60,168.33,48.236,85,100,12.29,NZ,1595320516
2,Albany,42.60,-73.97,71.006,99,0,1.84,US,1595320466
3,Nortelândia,-14.45,-56.80,64.706,60,55,1.59,BR,1595320517
4,Esim,4.87,-2.24,78.494,81,60,3.14,GH,1595320517
...,...,...,...,...,...,...,...,...,...
605,Uniontown,39.90,-79.72,71.006,62,48,0.66,US,1595320501
606,Chālūs,36.66,51.42,87.800,66,0,3.10,IR,1595320375
607,Geraldton,-28.77,114.60,75.200,44,0,4.10,AU,1595320668
608,Bitung,1.45,125.18,89.600,59,40,1.00,ID,1595320668
609,Lorengau,-2.02,147.27,83.606,70,100,2.64,PG,1595320668

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell
# Roger Roger

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure