# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
# csv from WeatherPy output is saved as a dataframe.
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df.head()

,City,Latitude,Longitude,Maximum Temperature (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,Mataura,-46.19,168.86,45.860,91,97,4.50,NZ,1595320242
1,Bluff,-46.60,168.33,48.236,85,100,12.29,NZ,1595320516
2,Albany,42.60,-73.97,71.006,99,0,1.84,US,1595320466
3,Nortelândia,-14.45,-56.80,64.706,60,55,1.59,BR,1595320517
4,Esim,4.87,-2.24,78.494,81,60,3.14,GH,1595320517

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
# Base map is crafted
fig = gmaps.figure()

# Location and weights are defined for ease of reading
locations = cities_df[["Latitude", "Longitude"]]
weights = cities_df["Humidity (%)"]

# Heat layer is crafted
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=weights,
                                 max_intensity=100,
                                point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Show layer
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
# Options are limited by personal preference.  No clouds, low wind, and temperatures between 70 and 80 degrees Farenheit.
hotel_df = cities_df.loc[cities_df["Cloudiness (%)"] == 0]\
                    .loc[cities_df["Wind Speed (mph)"] < 10]\
                    .loc[cities_df["Maximum Temperature (°F)"] < 80]\
                    .loc[cities_df["Maximum Temperature (°F)"] > 70]

# Drop rows with missing data
hotel_df.dropna(inplace=True)

# Output the first 10 locations fitting these criteria
hotel_df.head(10)

,City,Latitude,Longitude,Maximum Temperature (°F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
2,Albany,42.60,-73.97,71.006,99,0,1.84,US,1595320466
18,San Patricio,19.22,-104.70,76.172,86,0,1.90,MX,1595320520
41,Salinópolis,-0.61,-47.36,77.054,82,0,2.77,BR,1595320525
44,Karratha,-20.74,116.85,74.552,39,0,3.18,AU,1595320526
191,Igrim,63.19,64.42,78.386,36,0,0.17,RU,1595320564
206,Nouadhibou,20.93,-17.03,75.200,78,0,1.00,MR,1595320568
270,Port Hedland,-20.32,118.57,77.000,36,0,5.70,AU,1595320584
304,Mkushi,-13.62,29.39,70.502,41,0,3.89,ZM,1595320592
320,Greytown,-29.06,30.59,70.268,20,0,0.97,ZA,1595320596
322,Somerset East,-32.72,25.59,70.448,19,0,3.83,ZA,1595320596

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
# NOTE: Do not change any of the code in this cell
# Roger Roger

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure